<header>
  <div><%= user.name %></div>
  <div>
    <span><a href="/">Dashboard</a></span>
    <span><a href="/addNewStudent">Add New Student</a></span>
    <span><a href="/addInterviewPage">Add an Interview</a></span>
    <span id="dropdown">
      <span>Export To CSV</span>
      <div class="dropdown-content">
        <p><a href="/exportToCsvCompanyData">Company Data</a></p>
        <p><a href="/exportToCsvStudentData">Student Data</a></p>
      </div>
    </span>
    <span><a href="/signOut">Sign Out</a></span>
  </div>
</header>
