<div class="addStudentProfilePage">
  <div class="addStudentProfileContainer">
    <form action="/createint" method="post">
      <div class="addKeyValueContainer">
        <label class="addKey" for="companyName">Company Name :</label>
        <input
          class="addValue"
          id="companyName"
          name="name"
          type="text"
          required
        />
      </div>
      <div class="addKeyValueContainer">
        <label class="addKey" for="DateOfInterview">Date Of Interview :</label>

        <input
          class="addValue"
          id="DateOfInterview"
          name="DateOfInterview"
          type="date"
          required
        />
      </div>
      <button id="add_student_btn">Add Student</button>
    </form>
  </div>
</div>
