.homeContainer {
  /* background-color: red; */
  height: calc(100vh - 58px);
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: inset 0px 10px 15px -10px;
}

.studentListContainer {
  border: 2px solid;
  width: 43%;
  background-color: darkgray;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px;
}

.companyListContainer {
  border: 2px solid;
  width: 43%;
  background-color: darkgray;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 2px;
}

.studentListHeading,
.companyListHeading {
  text-align: center;
  font-size: x-large;
  font-weight: bolder;
  padding: 10px;
}

ol li {
  font-size: 20px;
  padding-bottom: 10px;
}

.olOfCompany li {
  position: relative;
}

.DateOfInterviewCss {
  position: absolute;
  right: 0px;
}

@media screen and (max-width: 700px) {
  .homeContainer {
    flex-direction: column;
    /* background-color: lightgoldenrodyellow; */
    justify-content: flex-start;
  }
  .studentListContainer {
    width: 80%;
    margin: 30px;
  }
  .companyListContainer {
    width: 80%;
  }
}
